<div class="content native-scroll">
    <div class="content-padded">
        <div class="row">
            <div class="col-100 text-center">
                <span class="icon iconfont icon-fanchuan2 big" style="color:#70a0ef"></span>
            </div>
            <div class="col-100 text-center">
                哥伦布还在发现新大陆的路上...
            </div>
        </div>
    </div>
</div>