<div class="content native-scroll">
    <div class="content-padded">
        <div class="row">
            <div class="col-100 text-center">
                <span class="icon iconfont icon-hollow big" style="color:#17d2c3"></span>
            </div>
            <div class="col-100 text-center">
                探子还没有新的消息...
            </div>
        </div>
    </div>
</div>