<div class="content native-scroll">
    <div class="address-box">
        <div class="icon-label">
            <span class="icon iconfont icon-location"></span>
        </div>
        <div class="no-address hide">
            请填写收货地址
        </div>
        <div class="address-content">
            <div class="contact-info">
                <div class="contact-title">收货人：张三 张三张三张三张三张三张三张三张三张三张三</div>
                <div class="contact-after">13800112233</div>
            </div>
            <div class="address">
                收货地址：湖南省长沙市天心区先锋街道湖南省长沙市天心区先锋街道
            </div>
        </div>
    </div>
    <div class="product-list">
        <ul>
            <li>
                <div class="product-item-content">
                    <div class="item-media">
                        <img style="width: 3rem;" src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_120x120q60.jpg">
                    </div>
                    <div class="item-inner">
                        <div class="item-row">
                            <div class="item-title">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</div>
                            <div class="item-after">
                                $100.00
                            </div>
                        </div>
                        <div class="item-row">
                            <div class="item-title">
                            </div>
                            <div class="item-after">
                                2件
                            </div>
                        </div>
                        <div class="item-bottom product-attr">
                            <div class="item-row">
                                <div class="item-title">
                                    尺码属性尺码属性尺码属性尺码属性尺码属性尺码属性尺码属性
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item-content">
                    <div class="item-media">
                        <img style="width: 3rem;" src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_120x120q60.jpg">
                    </div>
                    <div class="item-inner">
                        <div class="item-row">
                            <div class="item-title">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</div>
                            <div class="item-after">
                                $100.00
                            </div>
                        </div>
                        <div class="item-row">
                            <div class="item-title">
                            </div>
                            <div class="item-after">
                                2件
                            </div>
                        </div>
                        <div class="item-bottom product-attr">
                            <div class="item-row">
                                <div class="item-title">
                                    尺码属性尺码属性尺码属性尺码属性尺码属性尺码属性尺码属性
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="total-box">
        <div class="item-row">
            <div class="item-title">
                快递运费：
            </div>
            <div class="item-after">
                $0.00
            </div>
        </div>
        <div class="item-row">
            <div class="item-title">
                价格合计：
            </div>
            <div class="item-after">
                $100.00
            </div>
        </div>
        <div class="remark">
            <input class="input-remark" type="text" placeholder="订单补充说明..."/>
        </div>
    </div>
</div>
<div class="bar bar-footer-secondary infomation">
    <label><span class="iconfont icon-info"></span> 不要相信任何人通过短信、QQ等发送的所谓“退款链接”</label>
</div>
<div class="bar bar-footer product-tools">
    <div class="pull-left">
        <span>合计：$100.00</span> 
    </div>
    <div class="pull-right">
        <a href="#" class="button button-fill button-danger">确认订单</a>
    </div>
</div>