/* here you can put your own css to customize and override the theme */
/*padding*/
.padding-top-10{
    padding-top:10px !important;
}
.margin-left-10{
    margin-left:10px;
}
.form-body.no-padding{
    padding:0px;
}
/*partlet*/
.portlet-search.portlet>.portlet-title>.caption{
    padding:0px;line-height:30px;
}
.portlet-search.portlet>.portlet-title>.caption>i{
    float:none;
}
.portlet-search.portlet>.portlet-title>.actions{
    padding:0px;
}
.portlet-search.portlet>.portlet-title{
    margin-bottom: 0px; 
}
.portlet-search.portlet>.portlet-body.form>form>.form-body{
    padding:20px;
}

.portlet-box.portlet>.portlet-title>.caption{
    font-size:24px;
}
.portlet-box.portlet>.portlet-title>.actions>.btn{
    padding: 6px 12px;
}

.content-edit-box-actions.affix{
    right:30px;
    top:50px;
    z-index:999;
}

.solid.no-padding{
    padding:0px;
    margin-bottom:0px;
}

.map-widget{
    min-height:300px;
    position: relative;
}

.daterangepicker .ranges .btn{
    margin-top:0px;
}

.check-week .btn-group .btn{
    margin-right:5px;
    margin-bottom:5px;
}
.check-week .btn-group .btn.active{
    background-color:#3598dc;
    color:#fff;
}

.tagsinput-full .bootstrap-tagsinput{
    display:block;
}