

<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_15_1" data-toggle="tab" aria-expanded="true"> 基本资料 </a>
                </li>
                <li class="">
                    <a href="#tab_15_2" data-toggle="tab" aria-expanded="false"> 图片集 </a>
                </li>
                <li class="">
                    <a href="#tab_15_3" data-toggle="tab" aria-expanded="false"> 门票 </a>
                </li>
                <li class="">
                    <a href="#tab_15_4" data-toggle="tab" aria-expanded="false"> 预定须知 </a>
                </li>
                <li class="">
                    <a href="#tab_15_5" data-toggle="tab" aria-expanded="false"> 游玩协议 </a>
                </li>
                <li class="">
                    <a href="#tab_15_6" data-toggle="tab" aria-expanded="false"> SEO </a>
                </li>
                <li class="">
                    <a href="#tab_15_6" data-toggle="tab" aria-expanded="false"> 相关景点 </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_15_1">
                    tab 1
                </div>
                <div class="tab-pane" id="tab_15_2">
                    tab 2
                </div>
                <div class="tab-pane" id="tab_15_3">
                    tab 3
                </div>
                <div class="tab-pane" id="tab_15_4">
                    tab 4
                </div>
                <div class="tab-pane" id="tab_15_5">
                    tab 5
                </div>
                <div class="tab-pane" id="tab_15_6">
                    tab 6
                </div>
                <div class="tab-pane" id="tab_15_7">
                    tab 7
                </div>
            </div>
        </div>
    </div>
</div>