
@{
    ViewBag.Title = "管理员登陆";
}

<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="@Url.Action("Index","Dashboard",new {area="PlatformAdmin"})">
        <img src="~/Areas/Admin/content/pages/img/logo-big.png" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="@Url.Action("Login","Account",new {area="PlatformAdmin"})" method="post">
        <h3 class="form-title font-green">进入系统</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> 请输入正确的用户名和密码。 </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">用户</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名/邮箱/手机号码" name="usernameoremailormobile" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn green uppercase" data-loading-text="正在登录...">登录</button>
            <label class="rememberme check">
                <input type="checkbox" name="Remember" value="True" />记住登录
                <input type="hidden" name="returnUrl" value="" />
            </label>
            <a href="javascript:;" id="forget-password" class="forget-password">忘记密码?</a>
        </div>
        <div class="login-options">
            <h4>第三方登录</h4>
            <ul class="social-icons">
                <li>
                    <a class="social-icon-color wechat" data-original-title="wechat" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color oicq" data-original-title="Twitter" href="javascript:;"></a>
                </li>
                <li>
                    <a class="social-icon-color weibo" data-original-title="Goole Plus" href="javascript:;"></a>
                </li>
            </ul>
        </div>
        <div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn" class="uppercase">创建新账号</a>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="@Url.Action("Index","Dashboard")" method="post">
        <h3 class="font-green">忘记密码 ?</h3>
        <p> 请输入您的Email以重置您的密码. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default">返回</button>
            <button type="submit" class="btn btn-success uppercase pull-right">提交</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
    <!-- BEGIN REGISTRATION FORM -->
    <form class="register-form" action="@Url.Action("Register","Account")" method="post">
        <h3 class="font-green">注册账号</h3>
        <p class="hint"> 请输入您的账户信息: </p>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="username" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="请输入密码" name="password" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="再次输入密码" name="rpassword" />
        </div>
        <div class="form-group margin-top-20 margin-bottom-20">
            <label class="check">
                <input type="checkbox" name="tnc" /> 我同意
                <a href="javascript:;"> 服务条款 </a> &
                <a href="javascript:;"> 隐私政策 </a>
            </label>
            <div id="register_tnc_error"> </div>
        </div>
        <div class="form-actions">
            <button type="button" id="register-back-btn" class="btn btn-default">返回</button>
            <button type="submit" id="register-submit-btn" data-loading-text="正在注册..." class="btn btn-danger uppercase pull-right">注册</button>
        </div>
    </form>
    <!-- END REGISTRATION FORM -->
</div>
<div class="copyright"> 2016 &copy; HappyzuMall. Power By <a href="http://www.happyzu.com">Happyzu.com</a></div>
@section styles{
    <link href="~/Areas/Admin/content/pages/css/login.min.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/Areas/Admin/content/global/plugins/jquery-validation/js/localization/messages_zh.min.js"></script>
    <script src="~/Areas/Admin/content/pages/scripts/login.js" type="text/javascript"></script>
}