<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">上传图片</h4>
</div>
<div class="modal-body">
    
</div>
<div class="modal-footer">
    <div class="pull-left choose-location"></div>
    <button type="button" data-dismiss="modal" class="btn btn-outline dark">取消</button>
    <button type="button" class="btn green save-picture-mapping">保存</button>
</div>