<div class="content native-scroll">
    <div class="content-padded">
        <p>
            环球舱，<br/>
            为2016 年8 月湖南美传视界文化传媒有限公司打造的一个集酷玩、游乐、猎奇为主题的青年户外旅游平台，集票务和旅游服务为一体，旗下有“环球舱旅行网”（www.hqcang.com）及“环球舱”订阅号、服务号。
        </p>
        <p>
            独家代理运营世界首家以飞行为主题的综合性娱乐飞行体验馆—长沙飞行馆票务；<br/>
            拥有国内外旅游资源优势并开发了多条独家优质境内境外旅行线路，提供旅游高端定制、主题定制、承办境外婚礼等服务；<br/>
            运营直升机体验、直升机万米高空跳伞、飞行驾照培训、太空旅游、游艇、击剑、卡丁车、射击、飞跃丛林等前卫项目票务；<br/>
            同时承接品牌推广、策划推广、影视制作等业务。
        </p>
        <p>
            湖南美传视界文化传媒有限公司策划的世界首家飞行为主题的综合性娱乐飞行体验馆开业活动，成功将长沙飞行馆打造成为长沙又一城市名片；<br/>
            马上即将联合湖南电视台打造中南首届大型飞行大赛活动。
        </p>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-100 text-center">
                <img src="~/Themes/Default/Mobile/content/images/qrcode.jpg" />
            </div>
        </div>
    </div>
</div>