<div class="content native-scroll">
    <div class="content-padded">
        <h3>1.接受条款 </h3>
        <p>
            环球舱旅行网（以下简称“环球舱”）根据以下服务条款为您提供服务。这些条款可由环球舱随时更新，且毋须另行通知。环球舱使用协议（以下简称“使用协议”）一旦发生变动，环球舱将在网页上公布修改内容。修改后的使用协议一旦在网页上公布即有效代替原来的使用协议。此外，当您使用环球舱特殊服务时，您和环球舱应遵守环球舱随时公布的与该服务相关的指引和规则。前述所有的指引和规则，均构成本使用协议的一部分。
        </p> 
        <p>
            您在使用环球舱提供的各项服务之前，应仔细阅读本使用协议。如您不同意本使用协议及/或随时对其的修改，请您立即停止使用环球舱网所提供的全部服务；您一旦使用环球舱服务，即视为您已了解并完全同意本使用协议各项内容，包括环球舱对使用协议随时所做的任何修改，并成为环球舱用户（以下简称“用户”）。
        </p>
        <h3>2、服务说明 </h3>
        <p>环球舱目前向用户提供如下服务：发布校园动态，校园资源指引，兼职推荐，便民指南，网购商品和店铺等；在环球舱中发布消息、话题、上传图片。除非本使用协议另有其它明示规定，其余均受到本使用协议之规范。您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，环球舱均不承担任何责任。环球舱保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
        <h3> 3、遵守法律</h3>
        <p>
            您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。 同时如果环球舱有理由认为您的任何行为，包括但不限于您的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，环球舱可在任何时候不经任何事先通知终止向您提供服务。
        </p>
</div>
</div>