

<div class="content native-scroll">
    <div class="profile">
        <div class="background">
            <div class="img-box">
                <img class="img-circle" src="~/Themes/Default/Mobile/content/images/head.jpg"/>
            </div>
            <div class="nickname">
                小狼狗
            </div>
        </div>
    </div>
    <div class="row quick-link">
        <div class="col-33 cart">
            <a href="#"><span class="icon iconfont icon-cart"></span></a>
            购物车
        </div>
        <div class="col-33 favorites">
            <a href="#"><span class="icon icon-star"></span></a>
            我的收藏
        </div>
        <div class="col-33 coupon">
            <a href="#"><span class="icon iconfont icon-coupon"></span></a>
            优惠券
        </div>
    </div>
    <div class="list-block has-white-title">
        <ul>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">全部订单</div>
                </div>
            </li>
        </ul>
        <div class="order-list">
            <a href="javascript:;">
                <div class="icon iconfont icon-pay"></div>
                待付款
            </a>
            <a href="javascript:;">
                <div class="icon iconfont icon-send"></div>
                待发货
            </a>
            <a href="javascript:;">
                <div class="icon iconfont icon-wuliu"></div>
                待收货
            </a>
            <a href="javascript:;">
                <div class="icon iconfont icon-pingjia"></div>
                待评价
            </a>
            <a href="javascript:;">
                <div class="icon iconfont icon-my-tuikuantuihuo"></div>
                退换货
            </a>
        </div>
    </div>
    <div class="list-block has-white-title">
        <ul>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">个人资料</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">我的积分</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block has-white-title">
        <ul>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">帮助中心</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">投诉建议</div>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">推荐给好友</div>
                </div>
            </li>
        </ul>
    </div>
</div>