<div class="content native-scroll">
    <div class="content-padded border">
        <div class="row no-gutter">
            <div class="col-25">订单编号</div>
            <div class="col-50">no</div>
            <div class="col-25 text-right">已取消</div>
        </div>
        <div class="row no-gutter">
            <div class="col-25">订单总额</div>
            <div class="col-75"></div>
        </div>
        <div class="row no-gutter">
            <div class="col-100">
                <a href="#" class="button button-big">再次预订</a>
            </div>
        </div>
    </div>
    <div class="margin-top-10">
        <div class="content-padded border order-item-info">
            <div class="item-title">
                成人票
            </div>
            <div class="row no-gutter">
                <div class="col-25">使用日期</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">购买份数</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">使用方法</div>
                <div class="col-75"></div>
            </div>
        </div>
        <div class="content-padded border order-item-info">
            <div class="item-title">
                成人票
            </div>
            <div class="row no-gutter">
                <div class="col-25">使用日期</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">购买份数</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">使用方法</div>
                <div class="col-75"></div>
            </div>
        </div>
    </div>
    <div class="dest-info">
        <div class="dest-title">
            景点标题
        </div>
        <div class="dest-body">
            <div class="row no-gutter">
                <div class="col-25">地址</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">营业时间</div>
                <div class="col-75"></div>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="card-title">
            联系方式
        </div>
        <div class="card-body">
            <div class="row no-gutter">
                <div class="col-25">联系人</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">联系手机</div>
                <div class="col-75"></div>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="card-title">
            订单信息
        </div>
        <div class="card-body">
            <div class="row no-gutter">
                <div class="col-25">创建时间</div>
                <div class="col-75"></div>
            </div>
            <div class="row no-gutter">
                <div class="col-25">支付方式</div>
                <div class="col-75">微信支付</div>
            </div>
        </div>
    </div>
</div>