<div class="content native-scroll">
    <div class="content-block">
        <div class="row">
            <div class="col-100 text-center">
                <img src="~/Themes/Default/Mobile/content/images/qrcode.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-100 text-center">
                扫描二维码关注 环球舱服务号 
            </div>
        </div>
    </div>
</div>