<div class="content native-scroll">
    <div class="list-block has-white-title">
        <ul>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title">接收优惠信息</div>
                    <div class="item-after">
                        <label class="label-switch small-switch">
                            <input type="checkbox" checked="checked" />
                            <div class="checkbox"></div>
                        </label>
                    </div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title">消息提醒</div>
                    <div class="item-after">
                        <label class="label-switch small-switch">
                            <input type="checkbox" checked="checked" />
                            <div class="checkbox"></div>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block has-white-title">
        <ul>
            <li class="item-content item-link">
                <div class="item-inner">
                    <a href="@Url.Action("AboutUs", "Account")">
                        <div class="item-title">关于我们</div>
                    </a>
                </div>
            </li>
            <li class="item-content item-link">
                <div class="item-inner">
                    <a href="@Url.Action("Agreement", "Account")">
                        <div class="item-title">网络服务使用协议</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
