@section styles{
    <link href="~/Themes/Default/Mobile/content/plugins/sui/css/sm-extend.min.css" rel="stylesheet" />
}

<div class="content native-scroll">
    <!-- Slider -->
    <div class="swiper-container my-swiper" data-space-between='10'>
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/1.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/2.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/3.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/4.png" class="img-responsive" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="row grid-box grid-box1">
        <div class="col-40 ">
            <h4 class="purple">团购特卖</h4>
            <p>5折！夏日鞋包配</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg"/>
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-100">
                    <div class="pull-left">
                        <h4 class="red">团购特卖</h4>
                        <p>夏日鞋包配</p>
                    </div>
                    <div class="img-box img-w-50">
                        <img src="~/Themes/Default/Mobile/content/images/p1_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="blue">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="red">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p4_175x170.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="grid-box-title">
        <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/grid-0.png" />
    </div>
    <div class="row grid-box grid-box2">
        <div class="col-40 ">
            <h4 class="black">团购特卖</h4>
            <p>5折！夏日鞋包配</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg"/>
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p5_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p6_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p7_175x170.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="grid-box-title">
        <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/grid-01.png" />
    </div>
    <div class="row grid-box grid-box2">
        <div class="col-40 ">
            <h4 class="black">团购特卖</h4>
            <p>5折！夏日鞋包配</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg"/>
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p5_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p6_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p7_175x170.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="grid-box-title">
        <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/grid-1.png" />
    </div>
    <div class="row grid-box grid-box2">
        <div class="col-40 ">
            <h4 class="black">团购特卖</h4>
            <p>5折！夏日鞋包配</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg"/>
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p5_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p6_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p7_175x170.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="grid-box-title">
        <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/grid-2.png" />
    </div>
    <div class="row grid-box grid-box2">
        <div class="col-40 ">
            <h4 class="black">团购特卖</h4>
            <p>5折！夏日鞋包配</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg" />
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p5_175x170.jpg" />
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p6_175x170.jpg" />
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg" />
                    </div>
                </div>
                <div class="col-50">
                    <h4 class="black">团购特卖</h4>
                    <p>夏日鞋包配</p>
                    <div class="img-box">
                        <img src="~/Themes/Default/Mobile/content/images/p7_175x170.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-box-line-title">
        <div class="grid-title">精选商品</div>
        <div class="back-line"></div>
    </div>
    <div class="row grid-list">
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题</a>
                    </h2>
                </div>
                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">月销50件</div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题 可以很长很长很长很长很长很长很长</a>
                    </h2>
                </div>
                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">新品上市</div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题</a>
                    </h2>
                </div>
                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">月销50件</div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题 可以很长很长很长很长很长很长很长</a>
                    </h2>
                </div>

                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">月销50件</div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题</a>
                    </h2>
                </div>
                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">月销50件</div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="goods-box">
                <img class="img-responsive" src="~/Themes/Default/Mobile/content/images/p8_300x300.jpg" />
                <div class="goods-title">
                    <h2>
                        <a href="javascript:;">这里是商品的标题 可以很长很长很长很长很长很长很长</a>
                    </h2>
                </div>
                <div class="price">
                    <label>$100.00</label>
                </div>
                <div class="old-price-row">
                    <div class="item-price">$150.00</div>
                    <div class="item-after">月销50件</div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Themes/Default/Mobile/content/plugins/sui/js/sm-extend.min.js"></script>
    <script>
        $(function () {
            $(".swiper-container").swiper({
                autoplay: 5000,
                resistance: true
            });
        });
    </script>
}