@section styles{
    <link href="~/Themes/Default/Mobile/content/plugins/sui/css/sm-extend.min.css" rel="stylesheet" />
}

<div class="content native-scroll">
    <!-- Slider -->
    <div class="swiper-container my-swiper" data-space-between='10'>
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide"><img src="~/Themes/Default/Mobile/content/images/4.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/Themes/Default/Mobile/content/images/5.jpg" class="img-responsive" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="space-line"></div>

    <div class="row nav-link">
        <div class="col-25 item">
            <a href="#"><span class="icon iconfont icon-guojiyou"></span></a>
            境外游
        </div>
        <div class="col-25 item">
            <a href="#"><span class="icon iconfont icon-youshanwanshui"></span></a>
            当地玩乐
        </div>
        <div class="col-25 item">
            <a href="#"><span class="icon iconfont icon-menpiao"></span></a>
            景点门票
        </div>
        <div class="col-25 item">
            <a href="#"><span class="icon iconfont icon-iconsirenmoshi"></span></a>
            私人定制
        </div>
    </div>
    <div class="space-line"></div>
    <div class="row grid-box grid-box1">
        <div class="col-40 ">
            <h4 class="purple">中秋去赏月</h4>
            <p>优惠伴手礼7折起</p>
            <div class="img-box">
                <img src="~/Themes/Default/Mobile/content/images/p10_130x150.jpg"/>
            </div>
        </div>
        <div class="col-60 col-line-left">
            <div class="row">
                <div class="col-100">
                    <div class="pull-left">
                        <h4 class="red">当季首选</h4>
                        <p>早秋早约</p>
                    </div>
                    <div class="img-box img-w-50">
                        <img src="~/Themes/Default/Mobile/content/images/p1_175x170.jpg"/>
                    </div>
                </div>
                <div class="col-100">
                    <div class="pull-left">
                        <h4 class="blue">会员特权</h4>
                        <p>一日游sale</p>
                    </div>
                    <div class="img-box img-w-50">
                        <img src="~/Themes/Default/Mobile/content/images/p2_175x170.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-box-line-title">
        <div class="grid-title">长沙精选</div>
        <div class="back-line"></div>
    </div>
    <div class="list-block media-list">
        <ul>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media">
                        <div class="tip-label">
                            经典必玩
                        </div>
                    <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media">
                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80">
                    </div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>


@section scripts{
    <script src="~/Themes/Default/Mobile/content/plugins/sui/js/sm-extend.min.js"></script>
    <script>
        $(function () {
            $(".swiper-container").swiper({
                autoplay: 5000,
                resistance: true
            });
        });
    </script>
}