
<div class="content native-scroll">
    <div class="dest-box">
        <div class="dest-pictures">
            <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="100">
            <div class="pictures-num">9张</div>
        </div>
        <div class="dest-content">
            <div class="dest-info">
                <a href="#">景点介绍</a>
            </div>
            <div class="dest-opentime">
                <div class="opentime-text">营业时间：</div>
                <div class="opentime-value">周一至周五 上午10：00-晚上10点 周末：上午9：00-晚上9：30</div>
            </div>
        </div>
    </div>
    <div class="dest-location">
        <a href="javascript:;" class="dest-address">
            湖南省长沙市岳麓区步步高梅溪新天地
        </a>
    </div>
    <div class="ticket-detail-box">
        <div class="ticket-detail-header">
            <span class="rectangle-blue"></span> 门票
        </div>
        <dl class="ticket-detail-list">
            <dt class="ticket-title">特惠推荐</dt>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">“室内跳伞飞行体验”单项 室内跳伞飞行体验 室内跳伞飞行体验 室内跳伞飞行体验</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="@Url.Action("TicketOrder","Ticket",new {area="Mobile"},true)" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">太空精灵</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="ticket-detail-list">
            <dt class="ticket-title">成人票</dt>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">“室内跳伞飞行体验”单项 室内跳伞飞行体验 室内跳伞飞行体验 室内跳伞飞行体验</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">太空精灵</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="ticket-detail-list">
            <dt class="ticket-title">儿童票</dt>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">“室内跳伞飞行体验”单项 室内跳伞飞行体验 室内跳伞飞行体验 室内跳伞飞行体验</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">太空精灵</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price"><dfn>$</dfn><span>200</span></div>
                        <div class="price"><dfn>$</dfn><span>200</span></div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="book-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
        </dl>
    </div>

    <div class="ticket-booking-notice">
        <div class="booking-notice-title">
            门票预定说明
        </div>
        <div class="booking-notice-content">
            门票预定说明门票预定说明<br>门票预定说明门票预定说明门票预定说明门
            票预定说明门票预定说明门票预定说明门票预定说明门票预定说明门票
            预定说明门票预定说明门票预定说明门票预定说明门票预定说明 
            门票预定说明门票预定说明门票预定说明门票预定说明门票预定说明门
            票预定说明门票预定说明门票预定说明门票预定说明门票预定说明门票
            预定说明门票预定说明门票预定说明门票预定说明门票预定说明 
            门票预定说明门票预定说明门票预定说明门票预定说明门票预定说明门
            票预定说明门票预定说明门票预定说明门票预定说明门票预定说明门票
            预定说明门票预定说明门票预定说明门票预定说明门票预定说明
        </div>
    </div>
</div>