
<div class="content native-scroll">
    <div class="dest-box">
        <div class="dest-content">
            <div class="dest-info">
                <a href="">景点介绍</a>
            </div>
            <div class="dest-opentime">
                <div class="opentime-text">营业时间：</div>
                <div class="opentime-value"></div>
            </div>
        </div>
        <div class="dest-pictures">
            <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80">
        </div>
    </div>
    <div class="dest-location">
        <div class="dest-address">
            湖南省长沙市岳麓区步步高梅溪新天地
        </div>
    </div>
    <div class="ticket-detail-box">
        <div class="ticket-detail-header">
            门票
        </div>
        <dl class="ticket-detail-list">
            <dt class="ticket-title">成人票</dt>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">“室内跳伞飞行体验”单项</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price">$200</div>
                        <div class="price">$200</div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="boot-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="ticket-item-info">
                    <div class="ticket-item-title">太空精灵</div>
                    <div class="ticket-item-box">
                        <label class="ticket-item-tag">今日票</label>
                        <label class="ticket-item-tag">今日票</label>
                    </div>
                    <div class="ticket-item-detailed">
                        <a href="javascript:;">购买须知</a>
                    </div>
                </div>
                <div class="ticket-item-price-box">
                    <div class="ticket-item-price">
                        <div class="old-price">$200</div>
                        <div class="price">$200</div>
                    </div>
                    <div class="ticket-book-content">
                        <a href="javascript:;" class="ticket-book-btn">
                            <span class="online-peyment">在线支付</span>
                            <span class="boot-btn-text">预订</span>
                        </a>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</div>