
<div class="bar bar-header-secondary h-choose">
    <div class="searchbar">
        <a class="searchbar-cancel">搜索</a>
        <div class="search-input">
            <label class="icon icon-search" for="search"></label>
            <input type="search" id="search" placeholder="景点名称/游玩主题">
        </div>
    </div>
</div>
<div class="content native-scroll transactions">

    <div class="list-block media-list">
        <ul>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media">
                        <div class="tip-label">
                            经典必玩
                        </div>
                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80">
                    </div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80"></div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="item-travel item-content">
                    <div class="item-media">
                        <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="80">
                    </div>
                    <div class="item-inner">
                        <div class="item-title">【神奇隐水洞 十里水画廊】咸宁隐水洞+大汉皇族村（明清古居）一日游【移步换景溶洞奇观 武汉出发】</div>
                        <div class="item-tags-box">
                            <div class="item-tags">
                                <label class="tag">明日可用</label>
                                <label class="tag">无购物</label>
                                <label class="tag">无自费</label>
                            </div>
                            <div class="item-tags-after">
                                <span class="item-price">$100.00</span> 起
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-sales">月销:10000</div>
                            <div class="item-info-comments">4.5</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="bar bar-footer data-choose">
    <nav class="bar bar-tab">
        <a class="tab-item external active" href="#">
            <span class="icon icon-home"></span>
            <span class="tab-label">Label</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">Label</span>
            <span class="badge">2</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-star"></span>
            <span class="tab-label">Label</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-cart"></span>
            <span class="tab-label">Label</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="icon icon-settings"></span>
            <span class="tab-label">Label</span>
        </a>
    </nav>
</div>

@section scripts{
    <script>
        var $win = $(window), lastScrollPos = 0;
        var lastScrollPos = 0;

        var checkScrollPosition = function (domain) {
            var $this = $(domain);
            var scrollTop = $this.scrollTop();
            if (lastScrollPos !== scrollTop) {
                if (lastScrollPos > scrollTop) {
                    $win.trigger('scrollUp', lastScrollPos);
                } else {
                    $win.trigger('scrollDown', lastScrollPos);
                }
                lastScrollPos = scrollTop;
            }
            console.debug(lastScrollPos);
        };

        $(function () {
            $('.native-scroll').on('touchstart', function() {
                checkScrollPosition('.native-scroll');

                setTimeout("checkScrollPosition('.native-scroll')", 500);
            });

            $(window).on('scrollUp', function () {
                if ($('.h-choose').hasClass('hide')) {
                    $('.h-choose').removeClass('hide');
                }
                if ($('.data-choose').hasClass('hide')) {
                    $('.data-choose').removeClass('hide');
                }
            });

            $(window).on('scrollDown', function () {
                if (!$('.h-choose').hasClass('hide')) {
                    $('.h-choose').addClass('hide');
                }
                if (!$('.data-choose').hasClass('hide')) {
                    $('.data-choose').addClass('hide');
                }
            });
        });
    </script>
}