@model HappyZu.CloudStore.Web.Areas.Mobile.Models.Dest.TicketOrderViewModel

<div class="content native-scroll confirm-order">
    <div data-bind="template:{name:'ticket-template',foreach:Tickets}"></div>
    <div class="card">
        <div class="card-content">
            <div class="card-content-inner text-center">
                <a href="javascript:;" class=""><span class="iconfont icon-add"></span> 同时购买该景区其他门票</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">取票信息</div>
        <div class="card-content">
            <div class="card-content-inner form-list">
                <div class="form-row">
                    <div class="row-text">
                        取票人
                    </div>
                    <div class="row-value no-border">
                        <input class="qty-input" data-bind="value:Contact" placeholder="需要填写1个取票人"/>
                    </div>
                </div>
            </div>
            <div class="card-content-inner form-list">
                <div class="form-row">
                    <div class="row-text">
                        联系手机
                    </div>
                    <div class="row-value no-border">
                        <input class="qty-input" data-bind="value:Mobile" placeholder="接收确认短信"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-clear"></div>
</div>
<div class="bar bar-footer payment-list transactions">
    <div class="payment-content" data-bind="foreach:Tickets">
        <div class="form-row right">
            <div class="row-text" data-bind="text:Name">
            </div>
            <div class="row-value" data-bind="text:ShowQuantity">
            </div>
        </div>
    </div>
</div>
<div class="bar bar-footer data-choose payment-box">
    <div class="row no-gutter">
        <div class="col-75">
            <div class="payment-subtotal">
                <div class="subtotal">
                    <label>总额：</label><dfn>￥</dfn><span data-bind="text:TotalPrice">0</span>
                </div>
                <div class="sublist">
                    <a href="javascript:;" class="order-details-btn">明细 <span class="iconfont icon-arrow-down transactions"></span></a>
                </div>
            </div>
        </div>
        <div class="col-25">
            <div class="confirm-order-btn">
                <a href="@Url.Action("ChoosePayment", "Ticket", new {area = "Mobile"}, true)" class="button button-big button-fill button-warning">去支付</a>
            </div>
        </div>
    </div>
</div>
    @section styles{
        <link href="~/Themes/Default/Mobile/content/plugins/zepto.calendar.css" rel="stylesheet" />
    }
@section scripts{
    <script src="~/Themes/Default/Mobile/content/plugins/knockout-3.4.0.js"></script>
    <script src="~/Themes/Default/Mobile/content/plugins/moment.min.js"></script>
    <script src="~/Themes/Default/Mobile/content/plugins/zepto.cookie.min.js"></script>
    <script src="~/Themes/Default/Mobile/content/plugins/sui/js/sm-extend.min.js"></script>
    <script src="~/Themes/Default/Mobile/content/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Themes/Default/Mobile/content/plugins/zepto.calendar.js"></script>
    <script type="text/html" id="ticket-template">
        <div class="card">
            <div class="card-header">
                <div class="header-title" data-bind="text:Name">

                </div>
                <div class="header-active">
                    <a href="javascript:;" class="ticket-description">购买须知</a>
                    <a href="javascript:;" data-bind="visible:$parent.Tickets().length>1,click:$root.removeTicket" class="remove-ticket"><span class="iconfont icon-delete"></span></a>
                </div>
            </div>
            <div class="card-content">
                <div class="card-content-inner form-row">
                    <div class="row-text">使用日期</div>
                    <div class="row-value choose-date-box" data-bind="template:{name:'ticket-quotes',foreach:Quotes}">

                    </div>
                </div>
            </div>
            <div class="card-footer form-row">
                <div class="row-text">
                    购买份数
                </div>
                <div class="row-value ticket-quantity">
                    <input class="qty-input" data-bind="value:Quantity"/>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="ticket-quotes">
        <div class="choose-date " data-bind="css: { selected: Selected }">
            <div class="choose-item" data-bind="visible: $index()<2,click:$root.ChangeDate">
                <label data-bind="text:DateName"></label>
                <div class="price">
                    <dfn>$</dfn>
                    <span data-bind="text:Quote.Price"></span>
                </div>
            </div>
            <div class="choose-item more" data-bind="visible: $index()>1,click:$root.showCalendar">
                <label data-bind="text:DateName"></label>
                <div class="price">
                    <dfn>$</dfn>
                    <span data-bind="text:MorePrice"></span>
                </div>
            </div>
        </div>
    </script>
    <script>
        var ticketVM = @Html.Raw(Json.Encode(Model));
        var Ticket = function(ticket) {
            $.extend(this, ticket);
            var $this=this;
            this.Quantity = ko.observable(1);
            this.SelectedQuote = ko.observable();
            this.Quotes = ko.observableArray([]);
            this.AllQuotes=ko.observableArray([]);
            this.ShowQuantity = ko.pureComputed(function() {
                return '￥'+$this.SelectedQuote().Quote.Price + 'x' + $this.Quantity();
            }, this);
        };

        var QuoteModel = function(quote) {
            $.extend(this, quote);
            var $this = this;
            this.Selected = ko.observable(false);
            this.DateName = ko.observable();
            this.MorePrice = ko.observable(this.Quote.Price);
        };

        var closePage = function(currentPage) {
            $(currentPage).removeClass('page-current');
            $('div.page-group .page:not([id])').addClass('page-current');

        }
        var ViewModel = function() {
            var $this = this;
            $this.Contact = ko.observable('');
            $this.Mobile = ko.observable('');
            $this.Tickets = ko.observableArray([]);
            $this.SelectedTicket = ko.observable();
            $this.load = function() {
                var ticket = new Ticket(ticketVM.Ticket);
                for (var i = 0; i < ticketVM.TicketQuotes.length; i++) {
                    var quote = new QuoteModel(ticketVM.TicketQuotes[i]);
                    if (i === 0) {
                        quote.Selected(true);
                        ticket.SelectedQuote(quote);
                    }
                    quote.DateName($this.DateName(quote, i));
                    ticket.Quotes.push(quote);
                }
                $this.Tickets.push(ticket);
                $('.ticket-quantity .qty-input').TouchSpin({ min: 1, max: 99 });
            };

            $this.DateName = function(data, index) {

                if (moment().isSame(data.Year + '-' + data.Month + '-' + data.Day, 'Day')) {
                    return '今日';
                }
                if (moment().add(1, 'days').isSame(data.Year + '-' + data.Month + '-' + data.Day, 'Day')) {
                    return '明日';
                }


                if (data.Selected() || index < 2) {
                    return data.Month + '月' + data.Day + '日';
                } else {
                    return '更多日期';
                }
            };

            $this.GetTicketById = function(id) {
                var tickets = $this.Tickets();
                for (var i = 0; i < tickets.length; i++) {
                    if (tickets[i].Id === id) {
                        return tickets[i];
                    }
                }
                return null;
            }
            $this.ChangeDate = function(data) {

                var ticket = $this.GetTicketById(data.TicketId);
                if (ticket != null) {
                    ticket.SelectedQuote(data);
                    var quotes = ticket.Quotes();
                    for (var j = 0; j < quotes.length; j++) {
                        if (quotes[j].Id === data.Id) {
                            quotes[j].Selected(true);
                        } else {
                            quotes[j].Selected(false);
                        }
                        quotes[j].DateName($this.DateName(quotes[j], j));
                    }
                }
            };
            $this.removeTicket = function(data) {
                $.confirm('确定要删除吗?',
                    function() {
                        $this.Tickets.remove(data);
                    });
            };

            $this.BuildQuoteData=function(items) {
                $('.md_datearea li:not([class~="disabled"])')
                           .each(function(index, item) {
                               var ditem = null;
                               var xindex = 0;
                               for (var i = 0; i < items.length; i++) {
                                   ditem = items[i];
                                   if (moment(ditem.dateTime).isSame(moment({year:$(item).data('year'),month:$(item).data('month'),date:$(item).data('day')}),'day')) {
                                       xindex=i;
                                       break;
                                   }
                                   ditem = null;
                               }
                               if (ditem != null) {
                                   $(item).data('index', xindex);
                                   $(item).children('span').html('￥' + ditem.quote.price);

                               } else {
                                   $(item).addClass('disabled');
                               }
                           });
            }

            $this.showCalendar = function(data) {
                var about = $('#calendar_page');
                if (about.length <= 0) {
                    $('div.page-group')
                        .append('<div class="page" id="calendar_page"><header class="bar bar-nav header-nav"><a class="button button-link button-nav pull-left back" href="javascript:;"><span class="icon icon-left"></span></a><h1 class="title">选择使用日期</h1></header><div class="content native-scroll"><div class="md_container"></div></div></div>');
                }
                var tickets = $this.Tickets();
                var ticket = null;
                for (var i = 0; i < tickets.length; i++) {
                    ticket = tickets[i];
                }
                var selectedDate = moment();
                if (ticket.SelectedQuote() != null) {
                    selectedDate = moment(ticket.SelectedQuote().Year +
                        '-' +
                        ticket.SelectedQuote().Month +
                        '-' +
                        ticket.SelectedQuote().Day,
                        'YYYY-MM-DD');
                }
                $this.SelectedTicket(ticket);

                $('div.page-group .page').removeClass('page-current');
                $('#calendar_page').addClass('page-current');
                var minDate = moment(ticket.StartDate),
                    maxDate = moment(ticket.EndDate);
                if (moment().isAfter(minDate, 'day')) {
                    minDate = moment();
                }

                var url = '@Url.Action("GetQuotesByTicket", "Ticket", new {area = "Mobile"})';

                $('#calendar_page .md_container')
                    .mdater(
                    {
                        minDate: minDate.toDate(),
                        maxDate: maxDate.toDate(),
                        callback: function(index,date) {
                            var ticket = $this.SelectedTicket();
                            $this.SelectedTicket(null);
                            closePage('#calendar_page');

                            var quotes = ticket.Quotes();
                            var hasQuote = false;
                            for (var i = 0; i < quotes.length; i++) {
                                if (moment(quotes[i].Year + '-' + quotes[i].Month + '-' + quotes[i].Day, 'YYYY-MM-DD')
                                    .isSame(date)) {
                                    hasQuote = true;
                                    quotes[i].Selected(true);
                                    ticket.SelectedQuote(quotes[i]);
                                } else {
                                    quotes[i].Selected(false);
                                }
                                quotes[i].DateName($this.DateName(quotes[i], i));
                            }
                            if (hasQuote) {
                                return;
                            }

                            var oquote = ticket.AllQuotes()[index];
                            var quote = quotes[2];
                            quote.DateTime = oquote.dateTime;
                            quote.Day = oquote.day;
                            quote.Id = oquote.id;
                            quote.Month = oquote.month;
                            quote.Year = oquote.year;
                            quote.Week = oquote.week;
                            quote.Quote.MarketPrice=oquote.quote.marketPrice;
                            quote.Quote.Price=oquote.quote.price;
                            quote.Quote.CostPrice=oquote.quote.costPrice;
                            quote.Quote.AgentPrice=oquote.quote.agentPrice;
                            quote.Quote.Inventory=oquote.quote.inventory;
                            quote.MorePrice(quote.Quote.Price);
                            ticket.SelectedQuote(quote);
                            quote.Selected(true);
                            quote.DateName($this.DateName(quote, 2));
                            $this.ChangeDate(quote);
                        },
                        value: selectedDate.format('YYYY-MM-DD')
                    });

                if (ticket.AllQuotes().length<=0) {
                    $.showPreloader();
                    $.post(url,
                     { id: ticket.Id, minDate: minDate.format('YYYY-MM-DD'), maxDate: maxDate.format('YYYY-MM-DD') },
                     function(data, status, xhr) {
                         $.hidePreloader();
                         if (!data.success) {
                             return;
                         }
                         var items = data.result.items;
                         for (var i = 0; i < items.length; i++) {
                             ticket.AllQuotes.push(items[i]);
                         }
                         $this.BuildQuoteData(items);
                     },
                     'json');  
                } else {
                    $this.BuildQuoteData(ticket.AllQuotes());
                }
               
            }

            $this.TotalPrice = ko.pureComputed(function() {
                var tickets = $this.Tickets();
                var total = 0;
                for (var i = 0; i < tickets.length; i++) {
                    if (tickets[i].SelectedQuote()!=null) {
                        total += tickets[i].Quantity() * tickets[i].SelectedQuote().Quote.Price;    
                    }
                }
                return total;
            }, this);

            
        };

        var vm = new ViewModel();
        ko.applyBindings(vm);

        $(function() {
            vm.load();

            $(document)
                .on("touchspin.on.min",
                    '.qty-input',
                    function() {
                        $.toast("最少要购买1份");
                    });

            $('.order-details-btn')
                .on('click',
                    function() {
                        var $this = $(this);
                        if (!$this.hasClass('selected')) {
                            $this.addClass('selected');
                            $('.payment-list').addClass('show');
                        } else {
                            $this.removeClass('selected');
                            $('.payment-list').removeClass('show');
                        }
                    });

            $(document)
                .on('click',
                    '#calendar_page a.back',
                    function() {
                        closePage('#calendar_page');
                    });
        });
    </script>
}